body {
	margin: 5px;
}

#list {
	width: 100%;
	z-index: 2;
	border: 1px solid #ccc;
	padding: 10px;
}

#video-container {
	max-width: 800px;
	margin: auto;
	position: relative;
	top: 5px;
	z-index: 1;
	margin-bottom: 10px;
}

#video-container video, #video-container canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.select2-results__options {
	max-height: 500px !important;
}

#edit {
	margin-bottom: 5px;
	adisplay: none;
}

#edit > div {
	margin-top: 5px;
}

#edit input {
	width: 100%;
	margin-top: 5px;
}

#color div {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border: 1px solid black;
	display: inline-block;
}